@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* THEMES */
[data-theme='light'] {
  --rgbBackground: 240 240 240;
  --rgbBackgroundLight: 255 255 255;
  --rgbPrimary: 0 0 0;
  --rgbAccent: 0 172 193;
  --rgbText: 0 0 0;
  --rgbError: 255 0 60;
  --colorTextTitle: rgb(var(--rgbText) / 1);
  --colorTextBody: rgb(var(--rgbText) / 0.8);
  --colorTextLight: rgb(var(--rgbText) / 0.6);
}

[data-theme='dark'] {
  --rgbBackground: 31 34 43;
  --rgbBackgroundLight:  46 49 58;
  --rgbPrimary: 0 229 255;
  --rgbAccent: 0 172 193;
  --rgbText: 255 255 255;
  --rgbError: 255 55 102;
  --colorTextTitle: rgb(var(--rgbText) / 1);
  --colorTextBody: rgb(var(--rgbText) / 0.8);
  --colorTextLight: rgb(var(--rgbText) / 0.6);
}

/* THEME TOGGLER */

.theme-toggle {
  --size: 4rem;
  --icon-fill: var(--colorTextTitle);
  --icon-fill-hover: var(--colorTextLight);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;
}

[data-theme=dark] .theme-toggle {
  --icon-fill: var(--colorTextTitle);
  --icon-fill-hover: var(--colorTextLight);
}

svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

.theme-toggle:is(:hover,:focus-visible)>.sun-and-moon>:is(.moon,.sun) {
  fill: var(--icon-fill-hover);
}
.sun-and-moon>:is(.moon,.sun) {
  fill: var(--icon-fill);
}
.sun-and-moon>:is(.moon,.sun,.sun-beams) {
  transform-origin: center center;
}

.theme-toggle:is(:hover,:focus-visible) .sun-and-moon>.sun-beams {
  stroke: var(--icon-fill-hover);
}


[data-theme=dark] .sun-and-moon>.sun-beams {
  transform: rotate(-25deg);
  transition-duration: .15s;
  opacity: 0;
}

[data-theme=dark] .sun-and-moon>.moon>circle {
  transition-duration: .5s;
  transform: translate(-7px);
}

.sun-and-moon>.sun-beams {
  transform: rotate(25deg);  
  transition-duration: .15s;
  opacity: 1;
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.sun-and-moon .moon>circle {
  transition-duration: .5s;
  transform: translate(7px);
  /* transition: transform .5s var(--ease-out-5); */
}

html, body {
  height: 100%;
  overflow-x: hidden; 
  font-family: 'Playfair Display', serif;
  background-color: rgb(var(--rgbBackground));
  transition: background 0.3s ease;
  color: var(--colorTextBody);
}

.fullHeight {
  height: 100%;
}

.side-col {
  position: fixed;
  height: 100%;
  align-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.side-col-content {
  position: relative;
  height: 100%;
}

/* LEFT SIDEBAR STUFF */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  35% {
      opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.from-left-animation {  
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}

.left-vertical-line {
  flex-grow: 1;
  align-items: center;
  border-left: 2px solid;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: auto;
}

ul.socials{ 
  list-style: none; 
  padding-left: 0;
  margin-bottom: 0;
}

ul.socials li {
  padding-top: 2rem;
}

ul.socials li:first-child {
  padding-top: 0rem;
}

.icon-link  {
  /* color: var(--colorTextLight); */
  transition: color 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);  
}

.icon-link:hover {
  color: rgb(var(--rgbAccent));  
}

/* RIGHT SIDEBAR STUFF */

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  35% {
      opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.from-right-animation {  
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromRight; /* the name of the animation we defined above */
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}

.right-vertical-line {
  flex-grow: 1;
  align-items: center;
  border-left: 2px solid;
  height: auto;
}
.vertical-nav {
  padding-top: 0rem;
  padding-bottom: 5rem;
}

.vertical-nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.vertical-nav li {
  display: block;
  padding: 60px 0px;
  transform: rotate(90deg);
}

.vertical-nav li a {
  background: linear-gradient(0deg, rgb(var(--rgbAccent)), rgb(var(--rgbAccent))) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--colorTextBody);
  font-size: 1.5rem;
  font-weight: 1000;
}
.vertical-nav li a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}


/* MIDDLE COLUMN */

.intro-sec {
  height: 50%;
}

.hi-text {
  font-size: 5rem;
  line-height: 1.2;
}

.img-container {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;

}

.img-container .intro-img {
  width: 100%;
  height: 100%;
  animation: show-img 0s 1s forwards;
  opacity: 0;
}

@keyframes show-img {
  to   { opacity: 1; }
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  display: block;
  background: rgb(var(--rgbAccent));
  opacity: 0;
  animation: color-anim 2s normal;
}

@keyframes color-anim {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

.intro {
  animation: 2s anim-lineUp ease-out normal;
  font-size: 2.5rem;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgb(var(--rgbText) / 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  transition:all .9s ease; 
  width: 100%;
  height: 400px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{  
  background: rgb(var(--rgbBackgroundLight) / 1);
  margin-top: 50px;
  transition: all 0.2s ease-in;
  box-shadow: 0px 2px 3px rgb(var(--rgbText) / 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: rgb(var(--rgbBackgroundLight) / 1);
  box-shadow: 0px 13px 23px rgb(var(--rgbText) / 0.5);
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--colorTextBody);  
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}
